@import '/src/styles/variables';
@import '/src/styles/mixins';

.checklist-board {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;

  &__title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 0;

    .text {
      &.MuiTypography-root {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1;
      }
    }

    .link {
      display: flex;

      .MuiSvgIcon-root {
        margin: auto;
        font-size: 2.4rem;
        line-height: 1;
        color: $neutrals-500;
      }
    }

    &--so1scan {
      @include primary-text-color;
    }

    &--slither {
      @include slither-text-color;
    }

    &--mythril {
      @include mythril-text-color;
    }
  }

  &__content {
    display: flex;
    gap: 1.2rem;

    @include for-phone-only {
      flex-direction: column;
      gap: 2.4rem;
    }

    .checklist-board {
      &__list {
        @include for-phone-only {
          width: 100%;
        }

        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
        border-radius: 0.2rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        max-height: 56rem;
        overflow-y: auto;
        padding: 1.2rem;

        &::-webkit-scrollbar {
          width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $neutrals-200;
          border-radius: 0.8rem;

          &:hover {
            background-color: $neutrals-300;
          }
        }

        .checklist-board__item {
          border-radius: 0.8rem;
          padding: 1.2rem;
          position: relative;
          box-shadow: 0 0 0.2rem $primary-blue-950;

          input[type='checkbox'] {
            position: absolute;
            right: 1.2rem;
            top: 1.2rem;
          }

          &.active--so1scan {
            box-shadow: 0 0 0.4rem $so1scan-color;
          }

          &.active--slither {
            box-shadow: 0 0 0.4rem $slither-color;
          }

          &.active--mythril {
            box-shadow: 0 0 0.4rem $mythril-color;
          }

          label {
            cursor: pointer;

            .title {
              display: flex;
              gap: 0.8rem;
              align-items: center;
              margin-bottom: 0.8rem;

              &__id {
                &.MuiTypography-root {
                  text-transform: uppercase;
                  font-weight: 600;
                  font-size: 1.6rem;
                  line-height: 1;
                }
              }

              &__severity {
                &.MuiTypography-root {
                  text-transform: uppercase;
                  font-weight: 600;
                  font-size: 1.6rem;
                }
              }
            }

            .desc {
              font-size: 1.4rem;
              color: $neutrals-600;
              white-space: pre-wrap;
              overflow-wrap: break-word;
            }
          }
        }
      }

      &__code-editor {
        @include for-phone-only {
          width: 100%;
          height: 60vh;
        }

        width: 60%;
        border: 0.1rem solid $primary-blue-950;
      }
    }
  }
}
