@mixin primary-text-color {
  background: linear-gradient(
    90deg,
    $primary-blue-400,
    $primary-blue-600,
    $primary-blue-800
  );
  background-clip: text;
  color: transparent;
}

@mixin primary-text-color-rotate {
  background: linear-gradient(
    $primary-blue-400,
    $primary-blue-600,
    $primary-blue-800
  );
  background-clip: text;
  color: transparent;
}
