@mixin primary-text-color {
  background: linear-gradient(
    90deg,
    $primary-blue-400,
    $primary-blue-600,
    $primary-blue-800
  );
  background-clip: text;
  color: transparent;
}

@mixin slither-text-color {
  background: linear-gradient(90deg, #ad1f2c, #000);
  background-clip: text;
  color: transparent;
}

@mixin mythril-text-color {
  background: linear-gradient(90deg, #2c56dd, #000);
  background-clip: text;
  color: transparent;
}

@mixin primary-text-color-rotate {
  background: linear-gradient(
    $primary-blue-400,
    $primary-blue-600,
    $primary-blue-800
  );
  background-clip: text;
  color: transparent;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin for-multiple-media($medias...) {
  @each $media in $medias {
    @if ($media == for-phone-only) {
      @include for-phone-only {
        @content;
      }
    }
    @if ($media == for-tablet-portrait-up) {
      @include for-tablet-portrait-up {
        @content;
      }
    }
    @if ($media == for-tablet-landscape-up) {
      @include for-tablet-landscape-up {
        @content;
      }
    }
    @if ($media == for-desktop-up) {
      @include for-desktop-up {
        @content;
      }
    }
    @if ($media == for-big-desktop-up) {
      @include for-big-desktop-up {
        @content;
      }
    }
  }
}
