$header-height: 8rem;
$footer-height: 8rem;

$primary-blue-50: #eff9ff;
$primary-blue-100: #def1ff;
$primary-blue-200: #b6e6ff;
$primary-blue-300: #75d4ff;
$primary-blue-400: #2cbeff;
$primary-blue-500: #00a4f4;
$primary-blue-600: #0084d4;
$primary-blue-700: #0069ab;
$primary-blue-800: #00598d;
$primary-blue-900: #064a74;
$primary-blue-950: #042f4d;

$neutrals-50: #f6f6f6;
$neutrals-100: #e7e7e7;
$neutrals-200: #d1d1d1;
$neutrals-300: #b0b0b0;
$neutrals-400: #888888;
$neutrals-500: #6d6d6d;
$neutrals-600: #5d5d5d;
$neutrals-700: #4f4f4f;
$neutrals-800: #454545;
$neutrals-900: #3d3d3d;
$neutrals-950: #000000;

$bg-primary: linear-gradient(
  90deg,
  $primary-blue-300,
  $primary-blue-400,
  $primary-blue-500
);
$btn-box-shadow: $primary-blue-700 0px 0.2rem 8px;
