@import "/src/styles/variables";
@import "/src/styles/mixins";

.result {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  padding: 4rem 2rem;
  box-shadow: 0 0 0.4rem $primary-blue-950;
  border-radius: 1.2rem;

  &__title {
    position: absolute;
    top: -3rem;
    left: 4rem;
    box-shadow: 0 0 0.6rem $primary-blue-500;
    width: fit-content;
    padding: 1.2rem;
    background-color: white;
    border-radius: 1.2rem;

    &.MuiTypography-root {
      font-size: 1.8rem;
      font-weight: 500;
      color: $primary-blue-500;
    }
  }

  .result {
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 1.2rem;
    }

    &__control {
      display: flex;
      justify-content: flex-end;

      .MuiButtonBase-root {
        background: $bg-primary;
        box-shadow: $btn-box-shadow;
        font-size: 1.6rem;
        font-family: 400;
        color: white;
        border-radius: 0.8rem;
        padding: 1.2rem;
      }
    }
  }

  .summary {
    height: 100vh;
    position: absolute;
    top: calc(100% - 6rem);
  }
}
