@import "/src/styles/variables";
@import "/src/styles/mixins";

.header {
  height: $header-height;
  width: 100%;

  &__content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo__wrapper {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      padding: 1.2rem 0;

      .header-logo {
        &__image {
          width: auto;
          height: 4.8rem;
        }

        &__text {
          @include primary-text-color;

          font-size: 3rem;
          line-height: 3.4rem;
          font-weight: bold;
        }
      }
    }

    .header-nav__wrapper {
      .header-nav {
        &__menu {
          @include for-phone-only {
            display: none;
          }

          display: flex;

          .header-nav__item {
            width: auto;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.4rem;
            color: $primary-blue-950;
            cursor: pointer;
          }

          .header-nav__document {
            @extend .header-nav__item;

            margin-left: 1.2rem;
            color: white;
            border-radius: 0.8rem;
            background: $bg-primary;
            box-shadow: $btn-box-shadow;
          }
        }
      }
    }
  }
}
