@import '../../../styles/variables';
@import '../../../styles/mixins';

.chatgpt {
  margin-bottom: 3.2rem;
  .chatgpt-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .chatgpt-container__title {
      .MuiTypography-root {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        color: #369280;
      }
    }

    .chatgpt-container__response {
      box-shadow: 0 0 0.4rem $primary-blue-950;
      border-radius: 0.8rem;
      font-size: 1.4rem;
      padding: 0.4rem;

      .chatgpt-response__md {
        min-height: 5vh;
        max-height: 50vh;
        overflow-y: auto;
        padding: 0 1.2rem;

        &::-webkit-scrollbar-track {
          margin: 0.8rem 0;
        }

        &::-webkit-scrollbar {
          width: 0.6rem;
          height: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $neutrals-200;
          border-radius: 0.8rem;

          &:hover {
            background-color: $neutrals-300;
          }
        }
      }
    }

    .chatgpt-container__tool {
      display: flex;
      align-items: end;
      padding: 1.2rem;
      box-shadow: 0 0 0.4rem $primary-blue-950;
      border-radius: 0.8rem;
      gap: 1.2rem;

      .chatgpt-tool__logo {
        width: 5%;
        border-radius: 0.8rem;
        padding: 0.4rem;
        background-color: #74aa9c;
      }

      .chatgpt-tool__wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .chatgpt-tool__editor {
          width: 80%;
          display: flex;
          flex-direction: column;
          width: 100%;

          .chatgpt-editor__title {
            .MuiTypography-root {
              font-size: 1.6rem;
            }
          }

          .chatgpt-editor__editor {
            border: 0.1rem solid $primary-blue-950;
            height: 52vh;
          }
        }

        .chatgpt-tool__severity {
          width: 100%;
          display: flex;
          flex-direction: column;

          .chatgpt-severity__title {
            .MuiTypography-root {
              font-size: 1.6rem;
            }
          }

          .chatgpt-severity__selection {
            font-size: 1.6rem;
            width: 100%;
          }
        }
      }

      .chatgpt-tool__scan {
        width: 15%;
        background-color: #74aa9c;
        padding: 1.2rem 2.4rem;
        font-weight: 600;
        color: white;
        border-radius: 0.8rem;
        font-size: 1.8rem;

        &:disabled {
          background: $neutrals-100;
          color: #369280;
          box-shadow: unset;
          pointer-events: none;
        }
      }
    }
  }
}
