@import "/src/styles/variables";

.severity {
  border-radius: 4rem;
  padding: 0.4rem 1.2rem;

  &__title {
    &.MuiTypography-root {
      text-transform: capitalize;
      font-size: 1.4rem;
      font-weight: 500;
      color: white;
    }
  }

  &--informational {
    background-color: #339900;
  }

  &--low {
    background-color: #99cc33;
  }

  &--medium,
  &--warning {
    background-color: #ffcc00;
  }

  &--high {
    background-color: #ff9966;
  }

  &--critical {
    background-color: #cc3300;
  }
}
